<%- include('../partials/header.ejs') %> <%# Aqui carrega o css da nav %> 
<link rel="stylesheet" href="/scss/css/home.css"> <%# Aqui carrega o css da da pagina 'users' %> 
<title>Home</title>
<%- include('../partials/header-end.ejs') %> 


<%- include('../partials/nav.ejs') %> <%# Aqui carrega o html da nav %> 



<main>
    <section style="background-image: url(/img/pexels-andriana-3317434.jpg);" class="image">
    
        <div>
            <h1><strong>50% Off</strong></h1>
            <h2>À vista</h2>
        </div>
    
    </section>
    
    <br>
    
    <section class="content">
        <h2 style="margin-left: 10px;">Top Categorias</h2>
        <hr style="margin-left: 10px;"><br>
    
        <div style="margin-left: 10px; margin-right: 10px;" class="categories">
    
            <% categories.forEach(category => { %>
                <div onclick="clickCategory('<%= category.slug %>')" class="card">
                    <section style="background-image: url('<%= category.img %>');"></section> <%# Validacao %> 
                    <div class="card-body">
                      <h2><strong><%= category.name %></strong></h2>
                    </div>
                </div>
            <% }) %> 
    
        </div><br>
    
    </section>
</main>


<script>

    function clickCategory(category) {
        window.location.href = `/category/${category}`
    }

</script>
<%- include('../partials/scripts.ejs') %>